.productTop {
  @apply p-[40px] max-[800px]:p-[20px] rounded-[40px] flex justify-between max-[767px]:flex-wrap;
}

.productBottom {
  @apply p-[30px] rounded-[30px] max-[800px]:p-[20px] bg-white mt-[20px];
}

.tabbarHeader {
  @apply flex pb-[30px] border-b border-b-[#D9D9D9] flex-wrap;

  .button {
    @apply h-[40px] mr-[10px] max-[700px]:justify-center last:mr-0 flex items-center border border-light transition hover:border-green hover:text-black px-[22px] rounded-[30px] font-semibold text-[#a5a5a5] select-none max-[700px]:text-[12px] max-[600px]:w-full max-[600px]:mr-0 max-[600px]:first:mb-[10px];

    &.active {
      @apply bg-green text-black max-[700px]:text-[12px] border-green pointer-events-none max-[600px]:w-full;
    }
  }
}

.textDescription {
  @apply pt-[20px] text-[14px] font-normal text-[14px] font-normal text-black dark:text-light;

  .textPart {
    @apply mb-[30px] last:mb-0;

    .title {
      @apply text-[16px] text-black font-semibold mb-[6px];
    }

    .desc {
      @apply text-[14px] max-[600px]:text-[12px] max-[600px]:leading-[20px] text-[#7D7D7D];
    }
  }
}
.textDescription div iframe{
  @apply w-full;
}
.textDescription div a:has(img){
  @apply w-full flex justify-center;
}
.textDescription * {
  @apply text-[14px] font-normal !text-black dark:!text-light;
  font-family: unset !important;
}

.specifications {
  @apply columns-1 px-[25%] max-[700px]:px-0 gap-[50px] pt-[20px] max-[700px]:columns-1;

  .specificationsPart {
    @apply mb-[54px] last:mb-0;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;

    .title {
      @apply text-green-hover text-[16px] font-medium mb-[16px] text-center;
    }
    .list {
      @apply flex flex-col;

      .item {
        @apply flex mb-[20px] last:mb-0 relative after:absolute after:top-[16px] after:top-[14px] after:ml-[7px] after:-left-[7px] after:w-full after:border-b after:border-dashed after:border-b-[#d9d9d9];

        .label {
          @apply flex-1 text-[14px] max-[700px]:text-[12px] text-black font-semibold table-cell relative overflow-hidden;
        }
        .label span {
          @apply bg-white pr-[7px] relative z-[1];
        }
        .value {
          @apply inline-block z-[1] text-right max-w-[66%] pl-[7px] align-bottom text-[14px] text-[#7D7D7D];
        }
        .value span {
          @apply bg-white pl-[7px] max-[700px]:text-[12px];
        }
      }
    }
  }
}
.specifications > div {
  @apply mb-[54px] last:mb-0;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.specifications > div > div,
.specifications > div > span {
  @apply text-green-hover text-[16px] font-medium mb-[16px];
}
.specifications > div > ul {
  @apply flex flex-col;
}
.specifications > div > ul > li {
  @apply flex mb-[20px] last:mb-0 relative after:absolute after:top-[16px] after:top-[14px] after:ml-[7px] after:-left-[7px] after:w-full after:border-b after:border-dashed after:border-b-[#d9d9d9];
}
.specifications > div > ul > li > span:first-child {
  @apply flex-1 text-[14px] max-[700px]:text-[12px] text-black font-semibold table-cell relative overflow-hidden;
}
.specifications > div > ul > li > span:first-child > span {
  @apply bg-white pr-[7px] relative z-[1];
}
.specifications > div > ul > li > span:last-child {
  @apply inline-block z-[1] text-right max-w-[66%] pl-[7px] align-bottom text-[14px] text-[#7D7D7D];
}
.specifications > div > ul > li > span:last-child span {
  @apply bg-white pl-[7px] max-[700px]:text-[12px];
}

.carouselBar {
  @apply w-[450px] h-[457px] max-[500px]:h-auto max-[767px]:w-full max-[1100px]:w-[375px] border border-[#D9D9D9] rounded-[10px] p-[20px];

  .infoButtons {
    @apply flex justify-end max-[600px]:-mt-[10px] max-[600px]:-mr-[10px];

    .productType {
      @apply h-[40px] max-[600px]:h-[32px] w-fit select-none flex items-center rounded-[30px] border px-[25px] max-[600px]:px-[10px];

      .text {
        @apply text-[14px] max-[600px]:text-[12px] inline-block mx-[5px] relative -top-[2px] max-[600px]:-top-[1px] font-medium;
      }

      &.premium {
        @apply border-[#D74B53] text-[#D74B53] text-[20px];

        .text {
          @apply text-[#D74B53] font-medium;
        }
      }
    }
    .productType.new span:not(.text) {
      @apply text-[24px];
    }
    .productType.premium span:not(.text) {
      @apply text-[18px] max-[600px]:text-[12px];
    }
  }

  .mainCarousel {
    .item {
      @apply w-[350px] h-[295px] max-[500px]:h-auto max-[500px]:aspect-[3/2] !flex items-center justify-center;

      .image {
        @apply max-w-full max-h-full object-contain mx-auto;
      }
    }
    .item a {
      @apply h-full flex items-center;
    }
  }
  .mainCarousel * {
    @apply outline-0;
  }

  .colors {
    @apply flex justify-center pt-[10px] pb-[17px];

    .color {
      @apply w-[18px] h-[18px] mx-[5px] cursor-pointer rounded-full relative after:transition after:absolute after:-top-[3px] after:-left-[3px] after:border after:border-green after:rounded-full after:w-[24px] after:h-[24px] after:opacity-0 hover:after:opacity-100 before:absolute before:w-[18px] before:h-[18px] before:rounded-full before:border before:border-[#D9D9D9] before:opacity-0;

      &.active {
        @apply pointer-events-none after:transition after:absolute after:-top-[3px] after:-left-[3px] after:border after:border-green after:rounded-full after:w-[24px] after:h-[24px] after:opacity-100 before:absolute before:w-[18px] before:h-[18px] before:rounded-full before:border before:border-[#D9D9D9];
      }
    }
  }

  .thumbsCarousel {
    @apply relative mt-[45px];

    .item {
      @apply !w-[74px] h-[74px] max-[500px]:!w-[60px] max-[500px]:h-[60px] max-[400px]:!w-[50px] max-[400px]:h-[50px] rounded-[6px] border border-[#d9d9d9] !flex items-center justify-center;

      .image {
        @apply max-w-[80%] max-h-[80%];
      }
    }

    .moreViewContainer {
      @apply w-1/5 max-[1100px]:hidden max-[767px]:w-1/5 max-[600px]:w-1/4 min-w-[74px] flex items-center justify-end absolute right-[2px] max-[1100px]:-right-[3px] max-[767px]:-right-[4px] bottom-0;

      .moreView {
        @apply w-[74px] h-[74px] max-[500px]:w-[60px] max-[500px]:h-[60px] max-[400px]:!w-[50px] max-[400px]:h-[50px] rounded-[6px] bg-[rgba(29,29,29,.7)] text-white flex justify-center items-center text-[16px] font-semibold cursor-pointer;
      }
    }
  }
}

.ratingBar {
  @apply flex items-center pt-[2px] pb-[9px] relative;

  .stars {
    @apply flex text-star text-[18px];
  }
  .stars span {
    @apply mr-[7px] last:mr-0;
  }
  .ratingCount {
    @apply font-semibold text-[12px] inline-block ml-[11px];
  }
}

.productMainDetails {
  @apply w-[calc(100%-470px)] max-[1100px]:w-[calc(100%-395px)] max-[767px]:w-full max-[767px]:pt-[20px];

  .title {
    @apply text-[18px] max-[800px]:text-[16px] font-semibold text-green-hover uppercase max-w-[60%] max-[900px]:max-w-full;
  }

  .price {
    @apply flex items-center mt-[10px] pb-[18px] relative z-[1] after:bg-[#d9d9d9] after:absolute after:w-full after:h-[1px] after:left-0 after:bottom-0;

    .current {
      @apply text-[24px] max-[800px]:text-[20px] leading-tight font-bold text-red;
    }
    .old {
      @apply text-[14px] max-[800px]:text-[12px] font-semibold  block ml-[10px];
    }
  }

  .generalInfo {
    @apply pt-[14px] pb-[4px] relative z-[1] after:bg-[#d9d9d9] after:absolute after:w-full after:h-[1px] after:left-0 after:bottom-0;

    .list {
      @apply flex items-center flex-wrap;

      .item {
        @apply mr-[23px] last:mr-0 mb-[10px] h-[30px] px-[8px] bg-[#f5f5f5] rounded-[40px] flex justify-center items-center relative;

        .text {
          @apply block ml-[4px] text-black text-[12px] font-medium after:absolute after:content-['_/'] after:text-[#d9d9d9] after:font-semibold after:-right-[14px] after:top-[2px] after:text-[16px];
        }

        &:last-child {
          .text {
            @apply after:hidden;
          }
        }
      }
    }
  }

  .buttons {
    @apply flex py-[20px] max-[900px]:pb-[5px] relative z-[1] after:bg-[#d9d9d9] after:absolute after:w-full after:h-[1px] after:left-0 after:bottom-0 max-[900px]:flex-wrap max-[900px]:w-full;

    .buttonsContainer {
      @apply flex p-[10px] max-[900px]:p-0 rounded-[50px] border border-[#d9d9d9] max-[900px]:border-none mr-[10px] max-[900px]:mr-[15px] last:mr-0 max-[900px]:first:mb-[15px] max-[900px]:flex-wrap max-[900px]:last:-mt-[63px] max-[900px]:last:ml-[63px] max-[900px]:mr-0 max-[900px]:w-full;

      .counterContainer {
        @apply max-[900px]:w-full max-[900px]:mb-[15px] max-[900px]:!mr-0;
      }

      .button {
        @apply mr-[20px] last:mr-0 max-[900px]:mr-[15px];
      }
      .addToBasket button > span:last-child {
        @apply max-[1150px]:hidden;
      }
      .addToBasket button {
        @apply max-[1150px]:pl-0 max-[1150px]:pr-0 max-[1150px]:w-[48px] max-[1150px]:flex max-[1150px]:justify-center;
      }
      .button button {
        @apply max-[1100px]:w-[48px] h-[48px];
      }
    }
  }

  .mainDetails {
    @apply pt-[14px];

    .title {
      @apply text-[14px] text-black font-semibold pb-[14px] capitalize;
    }
  }
  .mainDetails ul {
    @apply flex flex-wrap pl-[13px];
  }
  .mainDetails ul li {
    @apply w-1/2 max-[992px]:w-full max-[992px]:text-[12px] text-[#a5a5a5] leading-[22px] list-disc pr-[30px];
  }
}

.productCounter {
  @apply flex relative select-none h-[48px] rounded-[50px] border border-[#d9d9d9] px-[14px] max-[900px]:w-full;

  .input {
    @apply w-[108px] max-[900px]:w-full border-none select-none bg-transparent outline-none text-center pointer-events-none pl-[10px];
  }
  .input:disabled {
    @apply text-[#d1d1d1];
  }

  .increase {
    @apply absolute p-[14px] right-0;

    &.disabled {
      @apply pointer-events-none;
    }
    &.disabled span {
      @apply text-[#d9d9d9];
    }
  }
  .decrease {
    @apply absolute p-[14px] left-0;

    &.disabled {
      @apply pointer-events-none;
    }
    &.disabled span {
      @apply text-[#d9d9d9];
    }
  }
}

.similiarProducts {
  @apply pt-[50px];

  .title {
    @apply pr-[110px] text-[18px] -top-[12px] max-[700px]:text-[16px] uppercase font-bold text-green-hover mb-[20px];
  }

  .list {
    @apply w-full relative flex flex-wrap justify-between;

    .prevButton {
      @apply right-[55px] -top-[55px];
    }
    .nextButton {
      @apply -top-[55px];
    }

    .item {
      @apply h-full w-[calc(50%-10px)] p-[30px] max-[700px]:p-[20px] bg-white rounded-[30px] !flex flex-col justify-between;

      .top {
        @apply flex max-[992px]:flex-wrap justify-between relative pb-[23px];

        .image {
          @apply w-[230px] max-[1100px]:w-[170px] max-[992px]:w-full max-[992px]:pb-[15px] -mt-[10px];
        }

        .details {
          @apply w-[calc(100%-255px)] max-[1100px]:w-[calc(100%-185px)] max-[992px]:w-full;

          .productTitle {
            @apply text-[18px] max-[1100px]:text-[16px] uppercase text-green-hover font-bold max-[1100px]:font-semibold leading-[24px] mb-[12px];
          }

          .priceBar {
            @apply mb-[13px] flex justify-between items-center flex-wrap;

            .priceSelf {
              @apply flex items-center;

              .current {
                @apply text-[18px] leading-[24px] font-bold text-red;
              }

              .old {
                @apply font-semibold block ml-[4px];
              }
            }

            .discount {
              @apply text-[14px] text-black font-semibold relative max-[1250px]:before:hidden before:absolute before:content-['_/'] before:text-[#d9d9d9] before:font-semibold before:-top-[1px] before:text-[16px] before:-left-[17px];
            }
          }
        }
      }

      .bottom {
        @apply flex min-[551px]:max-[800px]:flex-col-reverse max-[350px]:flex-col-reverse items-center justify-between pt-[30px] max-[800px]:pt-[15px] relative after:bg-[#d9d9d9] after:absolute after:w-full after:h-[1px] after:left-0 after:top-0;

        .right {
          @apply min-[551px]:max-[800px]:pb-[15px] max-[350px]:pb-[15px];

          .buttons {
            @apply flex;

            .button {
              @apply mr-[10px] last:mr-0;
            }
          }
        }
      }

      .bottom > div:first-child button {
        @apply pl-[20px] pr-[20px];
      }
    }
  }

  .prevButton {
    @apply absolute right-[65px] -top-[65px] z-[2];
  }
  .disable {
    @apply pointer-events-none;
  }
  .disable button span {
    @apply text-[#A5A5A5];
  }
  .nextButton {
    @apply absolute right-[0px] -top-[65px] z-[2];
  }

  .list > div {
    @apply w-full;
  }
}
